<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form method="post">
    <table th:object="${user}">
        <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>Age</th>
            <th>Email</th>
        </tr>
        <tr>
            <td>
                <input th:field="*{name}">
                <input th:field="*{phone}">
                <input th:field="*{age}">
                <input th:field="*{email}">
            </td>
        </tr>
        <tr>
            <td>
                <button type="submit">Add</button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>